.page-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.page {
  min-width:800px;
  max-width: 800px;
  
}

@media (max-width: 800px) {
  .page {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}